body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #ffe6f2, #ffd6eb);
  text-align: center;
}

.container {
  margin-top: 15%;
}

h1 {
  color: #ff3399;
  font-size: 45px;
}

h2 {
  color: #cc0066;
}

button {
  padding: 12px 25px;
  margin: 10px;
  font-size: 18px;
  border: none;
  border-radius: 25px;
  background-color: #ff66b2;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #ff3385;
}
