body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  background: linear-gradient(135deg, #ff9a9e, #fad0c4);
}

h1 {
  font-size: 40px;
  color: white;
  margin-top: 50px;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.2);
}

h2 {
  color: white;
  margin-top: 15px;
}

p {
  color: white;
  font-size: 20px;
}

button {
  padding: 12px 25px;
  font-size: 18px;
  border: none;
  border-radius: 30px;
  background-color: #ff4b6e;
  color: white;
  cursor: pointer;
  margin-top: 20px;
  transition: 0.3s ease;
}

button:hover {
  transform: scale(1.1);
  background-color: #ff1e4d;
}

img {
  width: 250px;
  margin-top: 20px;
  border-radius: 20px;
  box-shadow: 0px 5px 15px rgba(0,0,0,0.3);
}
@keyframes floatUp {
  to {
    transform: translateY(-120vh);
    opacity: 0;
  }
}
